

<div class="container">
  <div class="center">
    <div style="text-align: center">
    <p style="font-size: 300%">{{description}}</p>
    <button routerLink="/jefeCarrera" mat-raised-button>JefeCarrera</button>
      <button routerLink="/asistenteAdministrativo" mat-raised-button>Asitente Administrativa</button>
      <button routerLink="/contabilidad" mat-raised-button>Contabilidad</button>
      <button routerLink="/encargadaRegistros" mat-raised-button>Encargada Registros</button>
    </div>
  </div>
</div>

