h2 {
  margin: 20px;
}
#grid{
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
#grid2{
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.form {
  width: 50%;
}

.add{
  width: 50%;
}
