<div id="add_docente">
  <h2>Añadir Materia</h2>
  <div id="grid">
    <mat-form-field class="form">
      <input matInput placeholder="Nombre">
    </mat-form-field>
    <mat-form-field class="form">
      <input matInput placeholder="Inicio">
    </mat-form-field>
    <mat-form-field class="form">
      <input matInput placeholder="Docente">
    </mat-form-field>
    <mat-form-field class="form">
      <input matInput placeholder="Fin">
    </mat-form-field>
    <mat-form-field class="form">
      <input matInput placeholder="Horas">
    </mat-form-field>

      <button class="add" mat-raised-button color="warn">Añadir</button>

  </div>

  <hr>

  <div id="grid2">
    <mat-form-field class="form">
      <input matInput placeholder="archivo.xls">
    </mat-form-field>
    <button class="add" mat-raised-button color="primary">Añadir Materias</button>
    <button class="add" mat-raised-button color="warn">Subir Archivo</button>
  </div>
</div>
