<div id="add_docente">
  <h2>Añadir Docente</h2>
  <div id="grid">
    <mat-form-field class="form">
      <input matInput placeholder="Nombres">
    </mat-form-field>
    <mat-form-field class="form">
      <input matInput placeholder="Correo">
    </mat-form-field>
    <mat-form-field class="form">
      <input matInput placeholder="Apellidos">
    </mat-form-field>
    <mat-form-field class="form">
      <input matInput placeholder="Teléfono">
    </mat-form-field>
    <mat-form-field class="form">
      <input matInput placeholder="Horas de Planta">
    </mat-form-field>
    <button class="add" mat-raised-button color="warn">Añadir</button>
  </div>

<hr>
  <h2>Asignar Docente a Materia</h2>
  <div id="grid2">
    <mat-form-field class="form">
      <input matInput placeholder="Docente">
    </mat-form-field>
    <mat-form-field class="form">
      <input matInput placeholder="Materia">
    </mat-form-field>
    <button class="add" mat-raised-button color="warn">Asignar</button>
  </div>
</div>
