<div class="add_docente">
  <h2 mat-dialog-title>Añadir Docente</h2>
  <form mat-dialog-content class="grid" #form="ngForm" (ngSubmit)="onSubmit(form)" >
    <div>
      <mat-form-field class="form">
        <input type="text" id="nombre" matInput placeholder="Nombre" name="nombre" #nombre="ngModel" [(ngModel)]="docente.nombre">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="form">
        <input type="text" id="segundoNombre" matInput placeholder="Segundo Nombre" name="segundoNombre" #segundoNombre = "ngModel" [(ngModel)]="docente.segundo_nombre">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="form">
        <input type="text" id="apellidoPaterno" matInput placeholder="Apellido Paterno" name="apellidoPaterno" #apellidoPaterno="ngModel" [(ngModel)]="docente.apellido_paterno">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="form">
        <input type="text" id="apellidoMaterno" matInput placeholder="Apellido Materno" name="apellidoMaterno" #apellidoMaterno="ngModel" [(ngModel)]="docente.apellido_materno">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="form">
        <input type="text" id="materiasAsignadas" matInput placeholder="Materias Asignadas" name="materiasAsignadas" #materiasAsignadas="ngModel" [(ngModel)]="docente.materias_asignadas">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="form">
        <input type="text" id="horasPlanta" matInput placeholder="Horas de Planta" name="horasPlanta" #horasPlanta="ngModel" [(ngModel)]="docente.horas_planta">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="form">
        <input type="text" id="horasCubiertas" matInput placeholder="Horas Cubiertas" name="horasCubiertas" #horasCubiertas="ngModel" [(ngModel)]="docente.horas_cubiertas">
      </mat-form-field>
    </div>
    <div>
      <button class="add" mat-raised-button color="warn">Añadir</button>
    </div>
  </form>
  <hr>
  <h2 mat-dialog-title>Asignar Docente a Materia</h2>
  <form mat-dialog-content class="grid" #form="ngForm" (ngSubmit)="onSubmitAsign(form)">
    <div>
      <mat-form-field class="form">
        <input type="text" matInput [matAutocomplete]="auto" [formControl]="myControl" placeholder="Docente" >
        <mat-autocomplete  #auto="matAutocomplete" [displayWith]="displayDocente">
          <mat-option class="option"  *ngFor="let option of filterOptions | async" [value]="option">
            {{option.nombre+" "+option.segundo_nombre+" "+option.apellido_paterno+" "+option.apellido_materno}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="form">
        <input matInput placeholder="Materia">
      </mat-form-field>
    </div>
    <div>
      <button class="add" mat-raised-button color="warn">Asignar</button>
    </div>
  </form>
</div>
