
<mat-tab-group>
  <mat-tab label="Pendientes">
  <app-pendientes>
  </app-pendientes>
  </mat-tab>
  <mat-tab label="Materia">
    <div class="allTable">
      <button mat-raised-button color="warn" *ngIf="admin||jefe" (click)="openAddMaterias()">Añadir Materia</button>
      <br/>
      <mat-form-field>
        <input matInput (keyup)="applyFilterMaterias2($event.target.value)" placeholder="Buscar">
      </mat-form-field>
      <table #sortMaterias mat-table [dataSource]="dataSourceMaterias2"  matSort  class="mat-elevation-z8">
        <ng-container matColumnDef="nombre" sticky>
          <th class="Materia" mat-header-cell *matHeaderCellDef mat-sort-header >  Materia </th>
          <td style="text-align: left" mat-cell *matCellDef="let element" > {{element.nombre}} </td>
        </ng-container>
        <ng-container matColumnDef="id_docente" >
          <th  mat-header-cell *matHeaderCellDef mat-sort-header > Docente </th>
          <td style="text-align: left" mat-cell *matCellDef="let element"> {{displayDocente(element.id_docente)}} </td>
        </ng-container>

        <ng-container matColumnDef="inicio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header > Inicio </th>
          <td style="text-align: left" mat-cell *matCellDef="let element"> {{displayDate(element.inicio)}} </td>
        </ng-container>
        <ng-container matColumnDef="fin">
          <th mat-header-cell *matHeaderCellDef mat-sort-header > Fin </th>
          <td style="text-align: left" mat-cell *matCellDef="let element"> {{displayDate(element.fin)}} </td>
        </ng-container>
        <ng-container matColumnDef="horas_planta">
          <th mat-header-cell *matHeaderCellDef mat-sort-header > Horas de Planta </th>
          <td style="align: center" mat-cell *matCellDef="let element"> {{element.horas_planta}} </td>
        </ng-container>
        <ng-container matColumnDef="horas_totales">
          <th mat-header-cell *matHeaderCellDef mat-sort-header > Horas Totales </th>
          <td style="align: center" mat-cell *matCellDef="let element"> {{element.horas_totales}} </td>
        </ng-container>
        <ng-container matColumnDef="silabo_subido">
          <th mat-header-cell *matHeaderCellDef>
            Silabo subido
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox color="primary" (click)="setCheckbox(element._id,{'silabo_subido':!element.silabo_subido})" [checked]="element.silabo_subido">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="aula_revisada">
          <th mat-header-cell *matHeaderCellDef>
            Aula Revisada
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox color="primary" (click)="setCheckbox(element._id,{'aula_revisada':!element.aula_revisada})" [checked]="element.aula_revisada">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="examen_revisado">
          <th mat-header-cell *matHeaderCellDef>
            Exámenes Revisados
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox color="primary" (click)="setCheckbox(element._id,{'examen_revisado':!element.examen_revisado})" [checked]="element.examen_revisado">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="contrato_impreso">
          <th mat-header-cell *matHeaderCellDef>
            Contrato impreso
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox  color="primary" (click)="setCheckbox(element._id,{'contrato_impreso':!element.contrato_impreso})"  [checked]="element.contrato_impreso">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="contrato_firmado">
          <th mat-header-cell *matHeaderCellDef>
            Contrato firmado
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox  color="primary" (click)="setCheckbox(element._id,{'contrato_firmado':!element.contrato_firmado})"  [checked]="element.contrato_firmado">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="planilla_lista">
          <th mat-header-cell *matHeaderCellDef>
            Planilla lista
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox  color="primary" (click)="setCheckbox(element._id,{'planilla_lista':!element.planilla_lista})" [checked]="element.planilla_lista">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="planilla_firmada">
          <th mat-header-cell *matHeaderCellDef>
            Planilla firmada
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox [disabled]="contabilidad" (click)="setCheckbox(element._id,{'planilla_firmada':!element.planilla_firmada})" color="primary" [checked]="element.planilla_firmada">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="cheque_solicitado">
          <th mat-header-cell *matHeaderCellDef>
            Cheque solicitado
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox  color="primary" (click)="setCheckbox(element._id,{'cheque_solicitado':!element.cheque_solicitado})" [checked]="element.cheque_solicitado">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="cheque_recibido">
          <th mat-header-cell *matHeaderCellDef>
            Cheque recibido
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox  color="primary" (click)="setCheckbox(element._id,{'cheque_recibido':!element.cheque_recibido})" [checked]="element.cheque_recibido" >
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="cheque_entregado">
          <th mat-header-cell *matHeaderCellDef>
            Cheque entregado
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox color="primary" (click)="setCheckbox(element._id,{'cheque_entregado':!element.cheque_entregado})" [checked]="element.cheque_entregado">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="opciones">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button><mat-icon>edit</mat-icon></button>
            <button mat-icon-button color="warn"><mat-icon>delete_outline</mat-icon></button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="getDisplayedColumnsMaterias(); sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: getDisplayedColumnsMaterias()">
        </tr>
      </table>
    </div>
    <div>
      <mat-paginator #paginatorMaterias [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-tab>
  <mat-tab label="Docente" *ngIf="admin||jefe">
    <div class="allTable">
      <button mat-raised-button color="warn" *ngIf="true" (click)="openAddDocentes()">Añadir/Asignar Docente</button>
      <br/>
      <mat-form-field>
        <input matInput (keyup)="applyFilterDocentes($event.target.value)" placeholder="Buscar">
      </mat-form-field>
      <table #sortDocentes mat-table [dataSource]="dataSourceDocentes"  matSort class="mat-elevation-z8">

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Docente </th>
          <td style="text-align: left" mat-cell *matCellDef="let element"> {{element.nombre}} {{element.apellido_paterno}} </td>
        </ng-container>

        <ng-container matColumnDef="materias_asignadas">
          <th mat-header-cell  *matHeaderCellDef mat-sort-header> Materia Asignadas </th>
          <td style="text-align: center; padding-right: 7%" mat-cell *matCellDef="let element"> {{element.materias_asignadas}} </td>
        </ng-container>

        <ng-container matColumnDef="horas_planta">
          <th mat-header-cell  *matHeaderCellDef mat-sort-header> Horas de Planta </th>
          <td style="text-align: center; padding-right: 7%" mat-cell *matCellDef="let element"> {{element.horas_planta}} </td>
        </ng-container>

        <ng-container matColumnDef="horas_cubiertas">
          <th mat-header-cell  *matHeaderCellDef mat-sort-header> Horas Cubiertas </th>
          <td style="text-align: center; padding-right: 7%" mat-cell *matCellDef="let element"> {{element.horas_cubiertas}} </td>
        </ng-container>

        <ng-container matColumnDef="horas_faltantes">
          <th mat-header-cell  *matHeaderCellDef mat-sort-header> Horas Faltantes </th>
          <td style="text-align: center; padding-right: 7%" mat-cell *matCellDef="let element"> {{element.horas_planta - element.horas_cubiertas}} </td>
        </ng-container>
        <ng-container matColumnDef="evaluacion_pares">
          <th mat-header-cell *matHeaderCellDef>
            Evaluación por pares
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox color="primary" (click)="setEvalPares(element._id,{'evaluacion_pares':!element.evaluacion_pares})" [checked]=element.evaluacion_pares>
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="opciones">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button><mat-icon>edit</mat-icon></button>
            <button mat-icon-button color="warn"><mat-icon>delete_outline</mat-icon></button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="getDisplayedColumnsDocentes(); sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: getDisplayedColumnsDocentes();">
        </tr>
      </table>
    </div>
    <div>
      <mat-paginator #paginatorDocentes [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-tab>
  <mat-tab label="Seguimiento General" *ngIf="admin||jefe">
    <div class="Table">
      <mat-form-field>
        <input matInput (keyup)="applyFilterMaterias($event.target.value)" placeholder="Buscar">
      </mat-form-field>
      <table #sortGeneral mat-table [dataSource]="dataSourceMaterias"  matSort  class="mat-elevation-z8">
        <ng-container matColumnDef="nombre" sticky>
          <th class="Materia" mat-header-cell *matHeaderCellDef mat-sort-header >  Materia </th>
          <td style="text-align: left" mat-cell *matCellDef="let element" > {{element.nombre}} </td>
        </ng-container>
        <ng-container matColumnDef="id_docente" >
          <th  mat-header-cell *matHeaderCellDef mat-sort-header > Docente </th>
          <td style="text-align: left" mat-cell *matCellDef="let element"> {{displayDocente(element.id_docente)}} </td>
        </ng-container>

        <ng-container matColumnDef="inicio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header > Inicio </th>
          <td style="text-align: left" mat-cell *matCellDef="let element"> {{displayDate(element.inicio)}} </td>
        </ng-container>

        <ng-container matColumnDef="fin">
          <th mat-header-cell *matHeaderCellDef mat-sort-header > Fin </th>
          <td style="text-align: left" mat-cell *matCellDef="let element"> {{displayDate(element.fin)}} </td>
        </ng-container>
        <ng-container matColumnDef="silabo_subido">
          <th mat-header-cell *matHeaderCellDef>
            Silabo subido
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox color="primary" (click)="setCheckbox(element._id,{'silabo_subido':!element.silabo_subido})" [checked]="element.silabo_subido">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="aula_revisada">
          <th mat-header-cell *matHeaderCellDef>
            Aula Revisada
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox color="primary" (click)="setCheckbox(element._id,{'aula_revisada':!element.aula_revisada})" [checked]="element.aula_revisada">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="examen_revisado">
          <th mat-header-cell *matHeaderCellDef>
            Exámenes Revisados
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox color="primary" (click)="setCheckbox(element._id,{'examen_revisado':!element.examen_revisado})" [checked]="element.examen_revisado">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="contrato_impreso">
          <th mat-header-cell *matHeaderCellDef>
            Contrato impreso
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox disabled color="primary" [checked]="element.contrato_impreso">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="contrato_firmado">
          <th mat-header-cell *matHeaderCellDef>
            Contrato firmado
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox disabled color="primary" [checked]="element.contrato_firmado">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="planilla_lista">
          <th mat-header-cell *matHeaderCellDef>
            Planilla lista
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox disabled color="primary" [checked]="element.planilla_lista">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="planilla_firmada">
          <th mat-header-cell *matHeaderCellDef>
            Planilla firmada
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox disabled color="primary" [checked]="element.planilla_firmada">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="cheque_solicitado">
          <th mat-header-cell *matHeaderCellDef>
            Cheque solicitado
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox disabled color="primary" [checked]="element.cheque_solicitado">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="cheque_recibido">
          <th mat-header-cell *matHeaderCellDef>
            Cheque recibido
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox disabled color="primary" [checked]="element.cheque_recibido" >
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="cheque_entregado">
          <th mat-header-cell *matHeaderCellDef>
            Cheque entregado
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox disabled color="primary" [checked]="element.cheque_entregado">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="opciones">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button><mat-icon>edit</mat-icon></button>
            <button mat-icon-button color="warn"><mat-icon>delete_outline</mat-icon></button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="getDisplayedColumns(); sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: getDisplayedColumns()">
        </tr>
      </table>
    </div>
    <div>
      <mat-paginator #paginatorGeneral  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-tab>
  <mat-tab label="Crear Cuenta" *ngIf="admin">

  </mat-tab>
  <mat-tab label="Configuracion">
    <div class="allTable" *ngIf="admin || jefe">
<!--      <form [formGroup]="form">-->
<!--        <mat-checkbox *ngFor="let cd of neededColumnDefinitions()" [formControlName]="cd.def">-->
<!--          {{cd.label}}-->
<!--        </mat-checkbox>-->
<!--      </form>-->
      <table mat-table [dataSource]="dataSourceConfiguracion" class="mat-elevation-z8">
        <ng-container matColumnDef="opcion">
          <th mat-header-cell *matHeaderCellDef> Pendientes </th>
          <td mat-cell *matCellDef="let element"> {{element.label}} </td>
        </ng-container>
        <ng-container matColumnDef="configuracion">
          <th mat-header-cell *matHeaderCellDef>
            Configuracion
          </th>
          <td mat-cell *matCellDef="let element" [formGroup]="form">
            <mat-checkbox color="primary" [checked]="element.hide" [formControlName]="element.def">
            </mat-checkbox>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsConfiguracion"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsConfiguracion;"
            (click)="selectionConfiguracion.toggle(row)">
        </tr>
      </table>
    </div>
    <div class="allTable">
      <table mat-table [dataSource]="dataSourceConfiguracionMaterias" class="mat-elevation-z8">
        <ng-container matColumnDef="opcion">
          <th mat-header-cell *matHeaderCellDef> Materia </th>
          <td mat-cell *matCellDef="let element"> {{element.label}} </td>
        </ng-container>
        <ng-container matColumnDef="configuracion">
          <th mat-header-cell *matHeaderCellDef>
            Configuracion
          </th>
          <td mat-cell *matCellDef="let element" [formGroup]="formMaterias">
            <mat-checkbox color="primary" [checked]="element.hide" [formControlName]="element.def">
            </mat-checkbox>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsConfiguracion"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsConfiguracion;"
            (click)="selectionConfiguracion.toggle(row)">
        </tr>
      </table>
    </div>
    <div class="allTable" *ngIf="admin||jefe">
      <table mat-table [dataSource]="dataSourceConfiguracionDocentes" class="mat-elevation-z8">
        <ng-container matColumnDef="opcion">
          <th mat-header-cell *matHeaderCellDef> Docente </th>
          <td mat-cell *matCellDef="let element"> {{element.label}} </td>
        </ng-container>
        <ng-container matColumnDef="configuracion">
          <th mat-header-cell *matHeaderCellDef>
            Configuracion
          </th>
          <td mat-cell *matCellDef="let element" [formGroup]="formDocentes">
            <mat-checkbox color="primary" [checked]="element.hide" [formControlName]="element.def">
            </mat-checkbox>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsConfiguracion"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsConfiguracion;"
            (click)="selectionConfiguracion.toggle(row)">
        </tr>
      </table>
    </div>
  </mat-tab>
</mat-tab-group>

