.mat-table {
  width: 100%;
  margin: auto;
  align-items: center;
  text-align: center !important;
  table-layout: fixed;
}
.allTable{
  align-self: center;
  margin: 20px;
}
.Table{
  align-self: center;
  margin: 20px;
  min-width: 1800px;
}
.mat-header-cell {
  text-align: center;
  font-size: medium;
}
.mat-cell{
  word-wrap:break-word;
  padding-top: 5px;
  padding-bottom: 5px;
}
th{
  margin: auto;
}

.mat-row, .mat-header-row{
  min-width: 2800px;
  width: 100%;
}
