<mat-tab-group>
  <mat-tab label="Pendientes">
  <div class="allTable">
    <table mat-table [dataSource]="dataSourcePendientes" class="mat-elevation-z8">
      <ng-container matColumnDef="materia">
        <th mat-header-cell *matHeaderCellDef> Materia </th>
        <td mat-cell *matCellDef="let element"> {{element.materia}} </td>
      </ng-container>

      <ng-container matColumnDef="docente">
        <th mat-header-cell *matHeaderCellDef> Docente </th>
        <td mat-cell *matCellDef="let element"> {{element.docente}} </td>
      </ng-container>

      <ng-container matColumnDef="inicio">
        <th mat-header-cell *matHeaderCellDef> Inicio </th>
        <td mat-cell *matCellDef="let element"> {{element.inicio}} </td>
      </ng-container>

      <ng-container matColumnDef="fin">
        <th mat-header-cell *matHeaderCellDef> Fin </th>
        <td mat-cell *matCellDef="let element"> {{element.fin}} </td>
      </ng-container>

      <ng-container matColumnDef="pendiente">
        <th mat-header-cell *matHeaderCellDef> Pendiente </th>
        <td mat-cell *matCellDef="let element"> {{element.pendiente}} </td>
      </ng-container>
      <ng-container matColumnDef="selection">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
                        [checked]="selectionPendientes.hasValue() && isAllSelected()"
                        [indeterminate]="selectionPendientes.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                        (change)="$event ? selectionPendientes.toggle(row) : null"
                        [checked]="selectionPendientes.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsPendientes"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsPendientes;"
          (click)="selectionPendientes.toggle(row)">
      </tr>
    </table>
  </div>
  </mat-tab>
  <mat-tab label="Materias">
    <div class="allTable">
      <table mat-table [dataSource]="dataSourceMaterias" class="mat-elevation-z8">
        <ng-container matColumnDef="materia">
          <th mat-header-cell *matHeaderCellDef> Materia </th>
          <td mat-cell *matCellDef="let element"> {{element.materia}} </td>
        </ng-container>

        <ng-container matColumnDef="docente">
          <th mat-header-cell *matHeaderCellDef> Docente </th>
          <td mat-cell *matCellDef="let element"> {{element.docente}} </td>
        </ng-container>

        <ng-container matColumnDef="inicio">
          <th mat-header-cell *matHeaderCellDef> Inicio </th>
          <td mat-cell *matCellDef="let element"> {{element.inicio}} </td>
        </ng-container>

        <ng-container matColumnDef="fin">
          <th mat-header-cell *matHeaderCellDef> Fin </th>
          <td mat-cell *matCellDef="let element"> {{element.fin}} </td>
        </ng-container>

        <ng-container matColumnDef="silabo">
          <th mat-header-cell *matHeaderCellDef>
            Silabo Subido
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                          (change)="$event ? selectionPendientes.toggle(row) : null"
                          [checked]="selectionPendientes.isSelected(row)"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="aula">
          <th mat-header-cell *matHeaderCellDef>
            Silabo Subido
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                          (change)="$event ? selectionPendientes.toggle(row) : null"
                          [checked]="selectionPendientes.isSelected(row)"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="revExamen">
          <th mat-header-cell *matHeaderCellDef>
            Silabo Subido
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                          (change)="$event ? selectionPendientes.toggle(row) : null"
                          [checked]="selectionPendientes.isSelected(row)"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsMaterias"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsMaterias;"
            (click)="selectionMaterias.toggle(row)">
        </tr>
      </table>
    </div>
  </mat-tab>
</mat-tab-group>

